* {
  box-sizing: border-box;
}

.nametag {
  height: 100px;
  width: 19%;
  min-width: 250px;
  transition: 0.2s;
}

.nametag:hover {
  height: 380px;
  animation-name: grow;
  animation-duration: 0.2s;
}

@keyframes grow {
  from {
    height: 100px;
  }
  to {
    height: 370px;
  }
}
